//  新版文章界面 用来修改antd样式
.ant-card {
    width: 180px !important;

    .ant-card-cover {
        img {
            width: 80%;
            margin: 0 auto;
        }
    }

    .ant-card-body {
        padding: 5px 24px 24px 24px !important;
    }
}

.ant-drawer-wrapper-body {
    overflow: hidden !important;

    .ant-drawer-body {
        overflow-y: auto !important;
        height: calc(~'100% - 55px');
        padding: 0 24px 10px 24px !important;

        // 设置word转化为html的特殊样式
        h3 {
            margin: 10px 0;
        }

        p {
            margin-bottom: 0;
        }

        p.code {
            background-color: rgb(30, 30, 30);
            color: #fff;
        }

        p.codeInline {
            background-color: rgb(30, 30, 30);
            color: #fff;
            padding-left: 20px;
        }
    }
}